.hero {
  // background-color: teal;
  padding: 10px;
}
.conainer {
  width: 1360px;
}
.swiper {
  width: 600px;
  height: 300px;
}

.swiper-pagination-bullet-active {
  background-color: tomato;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  background-color: tomato;
}
