<section class="benefits">
  <ul class="benefits-group">
    <li class="benefits-item">
    <svg class="benefits-icon" width='30' height='30'>
      <use href='../images/benefits/fa-solid_university (1).svg'>
    </svg>
     <h3>Investmant Banking</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
    </li>
    <li>
      <svg class="benefits-icon" width='30' height='30'>
        <use href='../images/benefits/fa-solid_pencil-alt (1).svg'></use>
      </svg>
    <h3>Portfolio Manager</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
    </li>
    <li>
      <svg class="benefits-icon" width='30' height='30'>
        <use href='../images/benefits/fa-solid_book-reader (1).svg'></use>
      </svg>
      <h3>Tax & Custudio</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
    </li>
  </ul>
</section>