<section class="block-section">
  <time datetime="2019-12-14">April 16 2020</time>
  <h2>Blog Post One</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
    dignissimos quae laudantium asperiores nam aliquid impedit harum illum
    dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
    deleniti?
  </p>
  <button type="button">Read Our Blog</button>
  <img
    src="./images/block/block-img.png"
    alt="table notebooks and cup on the table"
    width="680"
    height="517"
  />
</section>
