<section class="cases">
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul class="cases-list">
        <li><img src="./images/business-cases-img/team-working.jpg" alt="team-working"></li>
        <li><img src="./images/business-cases-img/drafts.jpg" alt="drafts"></li>
        <li><img src="./images/business-cases-img/handshake.jpg" alt="handshake"></li>
        <li><img src="./images/business-cases-img/one-for-all.jpg" alt="friendly-team"></li>
        <li><img src="./images/business-cases-img/woman-at-laptop.jpg" alt="woman-at-laptop"></li>
        <li><img src="./images/business-cases-img/buildings.jpg" alt="buildings"></li>
        <li><img src="./images/business-cases-img/team-lead.jpg" alt="team-lead"></li>
        <li><img src="./images/business-cases-img/happy-team.jpg" alt="happy-team"></li>
    </ul>
</section>
