<section class="cases-section section">
  <p class="cases-first-text">This is what we do</p>
  <h2 class="cases-title">Business Cases</h2>
  <p class="cases-second-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="cases-list">
    <li class="cases-photo">
      <img src="./images/cases1/team.jpg" alt="Командна робота" />
    </li>
    <li class="cases-photo">
      <img src="./images/cases1/planning.jpg" alt="Планування" />
    </li>
    <li class="cases-photo">
      <img src="./images/cases1/handshake.jpg" alt="Злагоджена робота" />
    </li>
    <li class="cases-photo">
      <img src="./images/cases1/team.jpg" alt="Найкраща команда" />
    </li>
    <li class="cases-photo">
      <img src="./images/cases1/working.jpg" alt="Найкращі умови праці" />
    </li>
    <li class="cases-photo">
      <img src="./images/cases1/city.jpg" alt="Найсучасніший офіс" />
    </li>
    <li class="cases-photo">
      <img src="./images/cases1/employee.jpg" alt="Креативна команда" />
    </li>
    <li class="cases-photo">
      <img src="./images/cases1/jokes.jpg" alt="Гумор наша сила" />
    </li>
  </ul>
</section>
