<header class="header">
  <div class="header-container">
    <a class="logo" href=""
      ><svg class="logo-icon" width="39px" height="30px">
        <use href="./images/header/logo-icon.svg"></use>
      </svg>
      Finance<span class="logo-second-part">Ledger</span>
    </a>
    <ul class="navigation-list">
      <li class="navigation-item">
        <a class="navigation-link" href="">Home</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href=""> About</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href=""> Cases</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href=""> Blog</a>
      </li>
      <li class="navigation-item">
        <a class="navigation-link" href=""> Contact</a>
      </li>
    </ul>
  </div>
</header>
