<section class="solutions">
    <img src="./images/solutions/solution.jpg" alt="Our team" width="680px">
    <p class="solutions-text">What you are looking for</p>
    <h2 class="solutions-title">We provide bespoke solutions</h2>
    <p class="solutions-about">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut cupiditate
        error, facilis repellendus velit debitis quod fugit ipsa eos maiores
        voluptatem, eius porro repellat consectetur, labore veniam sunt eligendi
        totam!
    </p>
    <button class="solutions-btn" type="button">Read More</button>
</section>