<section class="team">
  <div class="conteiner">
    <p class="team__text">Who we are</p>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__second-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__list">
      <li class="team__item">
        <a href="">
          <img
            class="team__img"
            src="./images/team/john-doe.jpg"
            alt="John Doe"
          />
          <div class="team__card">
            <p class="team__name">John Doe</p>
            <p class="position">President</p>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a href="">
          <img
            class="team__img"
            src="./images/team/jane-doe.jpg"
            alt="Jane Doe"
          />
          <div class="team__card">
            <p class="team__name">Jane Doe</p>
            <p class="position">Vice President</p>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a href="">
          <img src="./images/team/steve-smith.jpg" alt="Steve Smith" />
          <p class="team__name">Steve Smith</p>
          <p class="position">Marketing Head</p>
        </a>
      </li>
    </ul>
  </div>
</section>
